@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    border-radius: 0;
    font-weight: bold;
    border: none;
    font-size: 12px;
    padding: 0;
}

tooltip {
    border-radius: 12px;
    background-color: @bg;
    border: solid 2px @border;
}

tooltip label {
    padding: 8px;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#group_power {
    border-right: 2px solid @border;
    margin: 0 0 0 0px;
}
#image.power_image {
    padding: 0 5px;
}

#custom-lock,
#custom-reboot,
#custom-power {
    color: @fg;
    font-size: 16px;
    padding: 0 12px;
}

#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover {
    color: @click-fg;
}

#workspaces {
    margin-right: 20px;
}

#workspaces button {
    color: @fg;
    min-height: 40px;
    min-width: 40px;
    text-shadow: none;
}

#workspaces button.active {
    background: @active-workspace-bg;
    color: @active-workspace-fg;
}

#workspaces button:hover {
    background: @hover-workspace-bg;
    color: @hover-workspace-fg;
    transition-duration: 0.2s;
}

#workspaces button label {
    font-size: 14px;
}

#clock,
#tray,
#language,
#bluetooth,
#network,
#wireplumber,
#battery,
#backlight,
#idle_inhibitor,
#custom-update {
    padding: 0 12px;
}

#language:hover,
#bluetooth:hover,
#network:hover,
#wireplumber:hover,
#custom-notification:hover,
#backlight:hover,
#idle_inhibitor:hover,
#custom-update:hover {
    color: @click-fg;
}

#tray menu menuitem {
    color: @fg;
    background: @bg;
}
#tray menu menuitem:hover {
    background: @bg;
    color: @click-fg;
}

#group_tools {
    border-left: 2px solid @border;
}
#image.tools_image {
    padding: 0 5px;
}
